<div class="row d-flex justify-content-center" v-if="seen">
    <input id="pageNumber" type="hidden" name="name" v-bind:value="page" />
    <div class="card" v-for="post in items">
        <a :href="post.postUrl" id="getVideo" target="_blank" v-on:click="postSeen(post.id)">
            <input type="hidden" id="postId" v-model="post.id" />
            <img class="card-img-top image img-fluid img-thumbnail" :src="post.imageUrl">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-description">{{ post.body }}</p>
            </div>
        </a>
    </div>
</div>
<div class="row d-flex justify-content-center" id="notFoundOrNoContent" v-if="notFound">
    <div class="content-fluid text-center vertical-align-div">
        <span class="vertical-align-span">Post not found</span>
    </div>
</div>