<div class="row d-flex justify-content-center" v-if="seen">
    <input id="pageNumber" type="hidden" name="name" v-bind:value="page" />
    <div class="card" v-for="post in items">
        <a :href="post.postUrl" id="getVideo" target="_blank" v-on:click="postSeen(post.id)">
            <input type="hidden" id="postId" v-model="post.id" />
            <img class="card-img-top image img-logo img-thumbnail" :src="post.channel.image">
            <img :class="post.imageClasses" :src="post.imageUrl">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-description">{{ post.body }}</p>
            </div>
        </a>
    </div>
</div>
<div class="row d-flex justify-content-center" id="notFoundOrNoContent" v-if="notFound">
    <div class="content-fluid text-center vertical-align-div">
        <span class="vertical-align-span">Post not found</span>
    </div>
</div>

<script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            
            // Start the connection.
            var connection = new signalR.HubConnectionBuilder()
                                .withUrl('/GetNews')
                                .build();
            var news = 0;
            connection.on('broadcastMessage', function (count) {
                news = news + count;
                document.title = `(${news}) NewsBlog`;
                console.log(count);
            });
            connection.serverTimeoutInMilliseconds = 600000;
            connection.start();

        });
</script>